miuki/bench/samples/*.miu
miuki/tree-sitter-miu/build/
miuki/tree-sitter-miu/binding.gyp
miuki/tree-sitter-miu/index.js
miuki/tree-sitter-miu/src/
miuki/tree-sitter-miu/libmiuparser.a
miuki/tree-sitter-miu/log.html
*.pdf
**/Cargo.lock
**/*.cabal

**/.sanna/
**/.stack-work/
**/target/
**/node_modules/

**/.vscode
**/.idea
