miuri/bench/samples/*.miu
miuri/tree-sitter-miu/build/
miuri/tree-sitter-miu/binding.gyp
miuri/tree-sitter-miu/index.js
miuri/tree-sitter-miu/src/
miuri/tree-sitter-miu/libmiuparser.a
miuri/tree-sitter-miu/log.html
*.pdf
**/Cargo.lock
**/*.cabal

**/.sanna/
**/.stack-work/
**/target/
**/node_modules/

**/.vscode
**/.idea
